section{
	display: flex;
	margin-bottom: 3%;
}
/*/*font-family: 'Lilita One', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;*/
.receta{
	width: 70%;
	margin: 0% 2.5%;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	text-align: justify;
}
.receta img{
	width: 50%;
	height: 300px;
	float: right;
	margin-left: 3%; 
	
}
.receta h2{
	font-family: 'Lora', serif;
	margin: 2% 0%;
}
.ingedites > ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
